      body {
        margin: 0px;
      }
      .area-label {
        font-family: 'Raleway',  Helvetica, Arial, sans-serif;
        fill-opacity: 0.7;
        fill: #e5e5e5;
      }
      path:hover {
        fill-opacity: 1;
        fill:#7fc893; /*previously #575757*/
      }
      path {
        fill-opacity: 0.8;
        stroke-width: 0.5;
      }
      text {
        pointer-events: none;
      }
      .axis--major .tick text, .legend text, .tooltip text {
        fill: #585858;
        font-family: 'Raleway',  Helvetica, Arial, sans-serif;
        font-size: 1.05vw;
      }
      .axis--major .tick line{
        stroke: #ddd;
        stroke-width: 0.25px;
      }
      .axis .domain {
        display: none;
      }
      .title{ 
        font-family: 'Raleway',  Helvetica, Arial, sans-serif;
        font-size: 3vw;
        fill:#000092;

      }
      #yearDisplayed{
        font-family: 'Raleway',  Helvetica, Arial, sans-serif;
        font-size: 1.5vw;
        font-weight:500;
        color:#ffffff;

      }
      #oecdForum{
        font-family: 'Raleway',  Helvetica, Arial, sans-serif;
        font-size: 1.2vw;
        color:#005aff;

      }
     /** #worldEvent{
        font-family: 'Raleway',  Helvetica, Arial, sans-serif;
        font-size: 1vw;
        color:#575757;
        font-style:italic;
        font-weight:200;
        
      }**/
      
      #footer{
        background:#0e134d;
        padding-top:0.5%;
        padding-bottom:0.5%;
        margin-bottom: 0.5%;
      }
      
      
      img#logo{
        float:left;
        margin-left:10px;
        margin-right:1%;
        width:15%;
        height:100%;
      }


      .worldEvent {
      height: 50px;  
      overflow: hidden;
      position: relative;
      }
      .worldEvent h3 {
              font-family: 'Raleway',  Helvetica, Arial, sans-serif;
              font-size: 1vw;
              color: #ffffff;
              font-style:normal;
              font-weight:100;
              position: absolute;
              width: 125%;
              height: 100%;
              margin: 0;
              line-height: 50px;
              text-align: center;
              /* Starting position */
              -moz-transform:translateX(100%);
              -webkit-transform:translateX(100%);    
              transform:translateX(100%);
              /* Apply animation to this element */  
              -moz-animation: worldEvent 30s linear infinite;
              -webkit-animation: worldEvent 30s linear infinite;
              animation: worldEvent 30s linear infinite;
      }
      /* Move it (define the animation) */
      @-moz-keyframes worldEvent {
      0%   { -moz-transform: translateX(100%); }
      100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes worldEvent {
      0%   { -webkit-transform: translateX(100%); }
      100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes worldEvent {
      0%   { 
      -moz-transform: translateX(100%); /* Firefox bug fix */
      -webkit-transform: translateX(100%); /* Firefox bug fix */
      transform: translateX(100%);       
      }
      100% { 
      -moz-transform: translateX(-100%); /* Firefox bug fix */
      -webkit-transform: translateX(-100%); /* Firefox bug fix */
      transform: translateX(-100%); 
      }
      }